@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  img,
  video {
    max-width: initial;
    height: initial;
  }
}

@font-face {
  font-family: "cleriong";
  src: url("/src/fonts/Kelpo\ DEMO.otf");
}

body {
  background-color: #795695;
  font-family: "cleriong";
}
