@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  img,
  video {
    max-width: initial;
    height: initial;
  }
}

@font-face {
  font-family: "cleriong";
  src: url("/src/fonts/Kelpo\ DEMO.otf");
}

body {
  background: rgb(82, 110, 162);
  background: linear-gradient(
    90deg,
    rgba(82, 110, 162, 1) 35%,
    rgba(235, 0, 255, 1) 100%
  );
  font-family: "cleriong";
}
