@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  img,
  video {
    max-width: initial;
    height: initial;
  }
}

@font-face {
  font-family: "cleriong";
  src: url("/src/fonts/Kelpo\ DEMO.otf");
}

body {
  background: rgb(82, 110, 162);
  background: linear-gradient(
    90deg,
    rgba(82, 110, 162, 1) 35%,
    rgba(235, 0, 255, 1) 100%
  );
  font-family: "cleriong";
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loader {
  @apply w-12 h-12 rounded-full relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  @apply absolute inset-0 rounded-full border border-white;
  animation: prixClipFix 2s linear infinite;
}
